<div class='body'>
    <h2>{{projectLable}}</h2><br>

    <div class="block">
        <div>
            <label> {{rangleLable}}:</label><br><br>
            <input type="text" class='textBox' [(ngModel)]="rangeNumber"  (ngModelChange)="rangeNumberChanged($event)"
                (keypress)="isNumberKey($event)">
            <br><br>
            <button [disabled]="isCounting" (click)='countPrimeNumber()' >{{countLabel}}</button>
        </div>

        <div *ngIf='totalCount > 0 '>
            <ul class='ulBlock'>
                <li>{{checkPrimeNumberLable}} {{rangeNumber}}</li>
                <li>{{primeCountLable}} : {{totalCount}}</li>
                <li> {{runTimeLable}} : {{totalTime}}</li>
            </ul>
        </div>

        <ul class='ulBlock'>
            <li *ngIf='isOne'>{{oneLabel}}</li>
        </ul>
    </div>
</div>